.about {
  padding: 4rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about_text h2 {
  font-size: 45px;
  line-height: 83.2px;
  font-weight: 500;
  color: #094b72;
  font-family: "Playfair Display", serif;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.about_first,
.about_second {
  width: 100%;
  height: 524px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  margin-top: 4rem;
}
.about_second {
  margin-top: 8rem;
}
.about_first_image {
  flex: 1;
  width: 50%;
}
.about_first_text,
.about_second_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}
.about_first_text h4,
.about_second_text h4 {
  margin-top: 2rem;
  width: 50%;
  font-family: "Playfair Display", serif;
  color: grey;
  font-weight: 300;
  letter-spacing: 0.04em;
}
.about_first_text h3,
.about_second_text h3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  font-family: "Playfair Display", serif;
  color: #1282a6;
  letter-spacing: 0.04em;
  font-size: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
.about_first_image,
.about_second_image {
  height: 100%;
  width: 50%;
}
.about_second_image {
  height: 140%;
}
.about_first_image img {
  margin-left: 7rem;
  width: 70%;
}
.about_second_image img {
  margin-right: 7rem;
  width: 70%;
}
@media screen and (max-width: 900px) {
  .about_first,
  .about_second {
    flex-direction: column;
    width: 100%;
  }
  .about_first_text,
  .about_second_text {
    width: 100%;
    align-items: center;
  }
  .about_first_image,
  .about_second_image {
    width: 100%;
    margin-bottom: 2rem;
  }
  .about_first {
    margin-bottom: 10rem;
  }
  .about_second_image {
    margin-left: 13rem;
  }
  .about_second_text {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 650px) {
  .about {
    padding: 4rem 0 4rem 0;
  }
  .about_first {
    margin-bottom: 2rem;
  }
  .about_second_image {
    margin: 0;
  }
  .about_second_image,
  .about_first_image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about_first_text h3,
  .about_second_text h3 {
    padding-left: 4rem;
    width: 100%;
  }
  .about_second_text {
    text-align: left;
  }
  .about_second_image img {
    width: 90%;
    margin: 0;
  }
  .about_first_image img {
    margin: 0;
    width: 90%;
  }
  .about_first_text h4,
  .about_second_text h4 {
    width: 80%;
  }
}
