.contact_container {
  display: flex;
  // background: white;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  overflow: hidden;
  // box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  // border: 1px solid rgba(255, 255, 255, 1);

  .contact_info {
    // background-color: #e4e4e4;
    border-radius: 12px;
    flex: 0 1 40%;
    padding: 20px;
    // color: white;
    flex-direction: column;
    // box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    align-items: center;
    h4 {
      font-size: 2rem;
      font-weight: 500;
      color: #094b72;
      font-family: "Playfair Display", serif;
      letter-spacing: 0.03em;
      margin: 1rem 0 2rem 0;
    }
    .contact_opening {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0;
      margin-bottom: 2rem;
      :hover {
        scale: 1.05;
      }
      p {
        font-size: 0.9rem;
        color: grey;
        margin: 0;
        font-weight: 300;
        transition: all 0.5s 0s ease-in-out;
        margin-bottom: 0.5rem;
        font-family: "Playfair Display", serif;
        span {
          color: #1282a6;
          font-size: 1.2rem;
        }
      }
    }
  }
  .icons {
    margin-bottom: 6rem;
    .icon_text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: all 0.5s 0s ease-in-out;
      margin-bottom: 1rem;
      :hover {
        scale: 1.05;
      }
      .icon {
        flex: 0 0 20px;
        font-size: 1.8rem;
        margin-right: 2rem;
        color: grey;
        transition: all 0.5s 0s ease-in-out;
      }
      span {
        font-size: 0.9rem;
        font-weight: 300;
        color: #1282a6;
        transition: all 0.5s 0s ease-in-out;
        letter-spacing: 0.03em;
      }
    }
  }
  .social_media {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    .icon_circle {
      flex: 0 1 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-radius: 50%;
      background: white;
      transition: all 0.5s 0s ease-in-out;
      &:hover {
        scale: 1.06;
        color: #1282a6;
        border: 1px solid #1282a6;
      }
    }
    .social_icon {
      color: grey;
      transition: all 0.5s 0s ease-in-out;
      &:hover {
        scale: 1.06;
        color: #1282a6;
      }
    }
  }
}
.form_area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 7rem;
  margin-left: 4rem;
  width: 60%;
  .form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .submit_button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      input {
        padding: 1rem 5rem;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        color: #094b72;
        border: 1px solid #1282a6;
        transition: all 0.5s 0s ease-in-out;
        &:hover {
          scale: 1.04;
          background-color: #094b72;
          color: white;
        }
      }
    }
    .form_input {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      position: relative;
      label {
        position: absolute;
        left: 0;
        top: 4px;
        pointer-events: none;
        color: grey;
        transition: all 0.5s 0s ease-in-out;
      }
      input {
        padding: 10px 0;
        margin-bottom: 30px;
        width: 100%;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        color: #1282a6;
        border-bottom: 2px solid #1282a6;
        margin-right: 2rem;
        &:focus,
        &:valid {
          border: none;
          border-color: transparent;
          outline: 0;
          border-bottom: 2px solid #1282a6;
          ~ label {
            top: -15px;
          }
        }
      }
      textarea {
        height: 50px;
        padding: 10px 0;
        margin-bottom: 40px;
        width: 100%;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #1282a6;
        resize: none;
        transition: all 0.5s 0s ease-in-out;
        &:focus,
        &:valid {
          border: none;
          border-color: transparent;
          outline: 0;
          height: 200px;
          border-bottom: 2px solid #1282a6;
          ~ label {
            top: -15px;
          }
        }
      }
    }
    .form_input_subject {
      position: relative;
      label {
        position: absolute;
        left: 0;
        top: 4px;
        pointer-events: none;
        color: grey;
        transition: all 0.5s 0s ease-in-out;
      }
      input {
        padding: 10px 0;
        margin-bottom: 30px;
        width: 90%;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #1282a6;
        &:focus,
        &:valid {
          border: none;
          border-color: transparent;
          outline: 0;
          border-bottom: 2px solid #1282a6;
          ~ label {
            top: -15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .contact_container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .contact_container .contact_info .contact_opening {
    align-items: center;
    margin-top: 2rem;
  }
  .contact_container .icons .icon_text {
    justify-content: center;
  }
  .contact_container .icons {
    width: 100%;
  }
  .contact_container .social_media {
    width: 100%;
    justify-content: center;
    gap: 2rem;
  }
  .contact_container .contact_info {
    text-align: center;
  }
  .form_area {
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1200px) {
  .contact_container {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .contact_container {
    padding: 0;
    width: 100%;
  }
  .form_area {
    margin-left: 0;
  }
  .form_area .form {
    width: 90%;
  }
}
