.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 6rem 4rem 6rem;
  flex-direction: column;
}
.testimonial_text h2 {
  font-size: 45px;
  line-height: 83.2px;
  font-weight: 500;
  color: #094b72;
  font-family: "Playfair Display", serif;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.testimonial_client {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.testimonial_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .testimonial {
    margin-top: 10rem;
  }
  .testimonial_client {
    width: 100%;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1200px) {
  .testimonial_client {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .testimonial {
    padding: 4rem 0 4rem 0;
  }
  .testimonial_text h2 {
    font-size: 40px;
  }
  .message {
    width: 90%;
  }
}
